@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body{
            background-image: url("/Images/sunrise.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Advising Assistant</h1>
    <p>Gain insight into your degree plan and understand what courses you should take next</a>.</p>
</div>
