@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        body{
            background-image: url("/Images/Hawaii.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<div class="text-center">
    <h1 style="color:whitesmoke;">Advising Assistant</h1>
	<p style="color: whitesmoke;">Gain insight into your degree plan and understand what courses you should take next</a>.</p>
</div>
