@model IEnumerable<AdvisingAssistant.Models.Schedule>

<h2>Transcript</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Subject</th>
            <th>Course Number</th>
            <th>Final Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedule in Model)
        {
            <tr>
                <td>@schedule.Course.Name</td>
                <td>@schedule.Course.Subject</td>
                <td>@schedule.Course.CourseNumber</td>
                <td>@schedule.FinalGrade</td>
            </tr>
        }
    </tbody>
</table>
